@font-face {
  font-family: h1;
  src: url("./fonts/MusicalTone-7BJ4A.otf");
}
@font-face {
  font-family: text;
  src: url("./fonts/waltograph42.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapper {
  background-color: #262525;
  width: 50rem;
  padding: 2rem 2.5rem;
  border-radius: 2rem;

  header {
    color: #b2b2b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 2rem;
      font-family: text;
      color:#bed5ec;
    }
    .slider {
      display: flex;
      align-items: center;
      span {
        font-weight: 500;
        font-size: 2rem;
        margin-right: 0.5rem;
        font-family: h1;
      }
    }
    .vol-slider input {
      accent-color: #e64420;
      outline: none;
    }
    .key-checkbox input {
      width: 60px;
      height: 30px;
      cursor: pointer;
      outline: none;
      position: relative;
      appearance: none;
      border-radius: 1.5rem;
      background: #525252;
      &::before {
        content: "";
        height: 22px;
        width: 22px;
        position: absolute;
        top: 50%;
        left: 5px;
        border-radius: inherit;
        background: #8c8c8c;
        transform: translateY(-50%);
        transition: all 0.3s ease;
      }
      &:checked::before {
        left: 35px;
        background: #e64420;
      }
    }
  }
  .piano-keys {
    display: flex;
    margin-top: 3rem;

    .key {
      color: #a2a2a2;
      list-style: none;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      user-select: none;
    }
    .white {
      width: 70px;
      height: 250px;
      background: linear-gradient(#fff 96%, #eee 4%);
      border-radius: 0.5rem;
      border: 1px solid #000;
      &:active {
        box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
        background: linear-gradient(to bottom, #fff 0%, #eee 100%);
      }
    }
    .black {
      width: 44px;
      height: 140px;
      background: linear-gradient(#333, #000);
      margin: 0 -22px 0 -22px;
      border-radius: 0 0 5px 5px;
      z-index: 2;
      &:active {
        box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
        background: linear-gradient(to bottom, #000, #424242);
      }
    }
    span {
      position: absolute;
      bottom: 20px;
      text-align: center;
      width: 100%;
      font-size: 1.13rem;
    }
  }
  .piano-keys .key.hide span {
    display: none;
  }
}
